{% extends 'myadmin/common/index.html' %}
{% load static %}
{% block content %}
<div id="page-wrapper">
    <div class="graphs">
        <h3 class="blank1">All Category </h3>
         <div class="xs tabls">
            <div class="bs-example4" data-example-id="contextual-table">
            <table class="table">
              <thead>
                <tr>
                  <th>Category Id</th>
                  <th>Category Name</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr class="active">
                  <th scope="row">1</th>
                  <td>Column content</td>
                  <td>Column content</td>
                </tr>
             
              
          
              </tbody>
            </table>
           </div>
          
        </div>
    </div>
</div>
{% endblock %}